<div class="example-container">
  <h2>Meal Plan</h2>
  <p>{{ displayList }}</p>
  <button mat-button (click)="getGroceryList()">
    Generate Ingredient List
  </button>
  <button mat-button>+ Create Recipe</button>
  <div cdkDropListGroup fxLayout="row">
    <div class="example-container">
      <h2>Recipe Bank</h2>
      <div
        cdkDropList
        id="recipeBank"
        #todoList="cdkDropList"
        [cdkDropListData]="recipes"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of recipes" cdkDrag>
          {{ item }}
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="30px">
      <div
        class="example-container"
        *ngFor="let dayPlan of weekPlanMap | keyvalue: asIsOrder"
      >
        <h2>{{ dayPlan.key }}</h2>
        <div
          cdkDropList
          #monList="cdkDropList"
          [cdkDropListData]="dayPlan.value"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="example-box" *ngFor="let item of dayPlan.value" cdkDrag>
            {{ item }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
