<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<mat-toolbar color="primary">
    <!-- <button mat-icon-button aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
    </button> -->
    <span class="material-icons">
        storefront
        </span>
        
    <span>Wai of the Recipes</span>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
    </button> -->
    <!-- <button mat-icon-button aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>