<p>
  <mat-form-field>
    <mat-label for="servings">Servings: </mat-label>
    <input matInput type="number" value="{{ recipe.servings }}" />
  </mat-form-field>
</p>

<!-- <div>
  <p>
    Ingredients:
    <mat-form-field class="example-chip-list">
      <mat-chip-list #ingredList>
        <mat-chip *ngFor="let item of recipe.ingredients">{{ item }}</mat-chip>
      </mat-chip-list>
      <input
        [matChipInputFor]="ingredList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-form-field>
  </p>
</div> -->
<p>
  Ingredients:
  <mat-list role="list">
    <div *ngFor="let item of recipe.ingredients">
      <mat-list-item role="listitem">
        {{ item }}
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
</p>
